<div class="container-dash">
    <h3>Dashboard</h3>
    <div class="dashboard">
            <div class="box-cartao">
                <h4>DEBIT CARD</h4>
                <span class="company">HBL</span>      
                <img src="../../../assets/img/chip8.png" alt="">
                <span class="number">1234 5678 9012 3456</span>
                <span class="sub-number">0123</span>
                <span class="valid">valid <span>01/27</span></span>
                <span class="user">JOSÉ AUGUSTO</span>
            </div>
        
            <div class="box-cartao">
                <h4>SPENT</h4>
            </div>
        
            <div class="box-cartao">
                <h4>BALANCE</h4>
            </div>
        
    </div>

</div>

